APP_NAME="Fritzler-Solution"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://fba-saas.test

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3310
DB_DATABASE=fba_saas
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=log

FBA_SHIP_FROM_ADDRESS="Musterstraße 1"
FBA_SHIP_FROM_CITY="Hamm"
FBA_SHIP_FROM_ZIP="59065"
